fastapi
pandas
uvicorn
gunicorn
openai
python-dotenv
aiofiles>=23.0.0
aiologger>=0.7.0
langchain
langchain-community
langchain-openai
chromadb
tiktoken
unstructured
requests
beautifulsoup4
pydantic
urllib3
sentence-transformers
torch
